In [1]:
import os
from pathlib import Path
import shutil

import numpy as np
import pandas as pd
import pseudopeople as psp

In [2]:
file_stem_1 = "input_file_1"
file_stem_2 = "input_file_2"

psp_census = psp.generate_decennial_census().head(25)
df1 = psp_census
df2 = psp_census[0:20]  # df2 has most but not all of the records in df1
df1["Record ID"] = df1.index
df2["Record ID"] = df2.index

df1

/tmp/ipykernel_1669812/1173994881.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Record ID"] = df2.index

,simulant_id,household_id,first_name,middle_initial,last_name,age,date_of_birth,street_number,street_name,unit_number,city,state,zipcode,housing_type,relationship_to_reference_person,sex,race_ethnicity,year,Record ID
0,0_2,0_7,Diana,P,Kofron,25,05/06/1994,5112,145th st,NaN,Anytown,WA,00000,Household,Reference person,Female,White,2020,0
1,0_3,0_7,Anna,A,Kofron,25,09/29/1994,5112,145th st,NaN,Anytown,WA,00000,Household,Other relative,Female,White,2020,1
2,0_923,0_8033,Gerald,R,Butler,76,11/03/1943,1130,mallory ln,NaN,Anytown,WA,00000,Household,Reference person,Male,Black,2020,2
3,0_2641,0_1066,Loretta,T,Carley,61,07/71/1958,NaN,delacorte dr,NaN,Anytown,WA,00000,Household,Reference person,Female,White,2020,3
4,0_2801,0_1138,Richard,R,Jones,73,03/03/1947,950,caribou lane,NaN,Anytown,WA,00000,Household,Reference person,Male,White,2020,4
5,0_6176,0_2514,Sandra,S,Runnalls,66,03/18/1954,4458,windsor pl,NaN,Anytown,WA,00000,Household,Reference person,Female,Multiracial or Other,2020,5
6,0_13972,0_5627,Jerry,E,Murray,70,01/03/1950,17868,winding trail rd,NaN,Anytown,WA,00000,Household,Reference person,Male,White,2020,6
7,0_13973,0_5627,Anita,R,Murray,70,11/06/1949,17868,winding trail rd,NaN,Anytown,WA,00000,Household,Opposite-sex spouse,Female,White,2020,7
8,0_13974,0_5627,Jada,S,Murray,45,04/11/1974,17868,winding trail rd,NaN,Anytown,WA,00000,Household,Biological child,Female,White,2020,8
9,0_13975,0_5627,Toni,K,Murray,44,02/12/1976,17868,winding trail rd,NaN,Anytown,WA,00000,Household,Biological child,Female,White,2020,9
10,0_4,0_8,Eric,R,Alonso Tellez,38,05/29/1981,1501,interlake ave n,NaN,Anytown,WA,00000,Household,Reference person,Male,Latino,2020,10
11,0_5,0_8,NaN,R,Alonso Tellez,40,10/27/1979,1501,interlake ave n,NaN,Anytown,WA,00000,Household,Opposite-sex spouse,Female,Latino,2020,11
12,0_6,0_8,Elan,N,Alonso Tellez,6,07/30/2013,1501,interlake ave n,NaN,Anytown,WA,00000,Household,Biological child,Male,Latino,2020,12
13,0_5621,0_2289,Derick,W,Castillo,49,07/27/1970,3,stoke ct,NaN,Anytown,WA,00000,Household,Reference person,Male,Latino,2020,13
14,0_5622,0_2289,Kaylee,A,Castillo,16,06/10/2003,3,stoke ct,NaN,Anytown,WA,00000,Household,Biological child,Female,Latino,2020,14
15,0_5623,0_2289,Heather,J,Castillo,46,07/24/1973,3,stoke ct,NaN,Anytown,WA,00000,Household,Opposite-sex unmarried partner,Female,Latino,2020,15
16,0_7251,0_2957,Patrick,E,Rodriguez,53,03/26/1966,927,broomfield ln,NaN,Anytown,WA,00000,Household,Reference person,Male,Latino,2020,16
17,0_7252,0_2957,Melisa,D,Rodriguez,41,05/26/1978,927,broomfield ln,NaN,Anytown,WA,00000,Household,Opposite-sex spouse,Female,Latino,2020,17
18,0_7254,0_2957,Caleb,G,Rodriguez,13,01/10/2007,927,broomfield ln,NaN,Anytown,WA,00000,Household,Biological child,Male,White,2020,18
19,0_7255,0_2957,Henry,C,Rodriguez,12,07/09/2007,927,broomfield ln,NaN,Anytown,WA,00000,Household,Biological child,Male,White,2020,19
20,0_7256,0_2957,Kynleigh,J,Rodriguez,2,05/06/2017,927,broomfield ln,NaN,Anytown,WA,00000,Household,Biological child,Male,White,2020,20
21,0_9,0_6357,Elijah,N,Esquivel,4,10/31/2015,1648,eagle heights,NaN,Anytown,WA,00000,Household,Other nonrelative,Male,White,2020,21
22,0_5189,0_2124,David,R,Schletzbaum,50,09/13/1969,NaN,stromberg ct,NaN,Anytown,WA,00000,Household,Reference person,Male,White,2020,22
23,0_5190,0_2124,Sara,H,Schletzbaum,40,01/30/1980,626,stromberg ct,NaN,Anytown,WA,00000,Household,Opposite-sex spouse,Female,White,2020,23
24,0_5191,0_2124,Brooklyn,N,Schletzbaum,12,10/20/2007,626,NaN,NaN,Anytown,WA,00000,Household,Biological child,Female,White,2020,24

In [3]:
df2

,simulant_id,household_id,first_name,middle_initial,last_name,age,date_of_birth,street_number,street_name,unit_number,city,state,zipcode,housing_type,relationship_to_reference_person,sex,race_ethnicity,year,Record ID
0,0_2,0_7,Diana,P,Kofron,25,05/06/1994,5112,145th st,NaN,Anytown,WA,00000,Household,Reference person,Female,White,2020,0
1,0_3,0_7,Anna,A,Kofron,25,09/29/1994,5112,145th st,NaN,Anytown,WA,00000,Household,Other relative,Female,White,2020,1
2,0_923,0_8033,Gerald,R,Butler,76,11/03/1943,1130,mallory ln,NaN,Anytown,WA,00000,Household,Reference person,Male,Black,2020,2
3,0_2641,0_1066,Loretta,T,Carley,61,07/71/1958,NaN,delacorte dr,NaN,Anytown,WA,00000,Household,Reference person,Female,White,2020,3
4,0_2801,0_1138,Richard,R,Jones,73,03/03/1947,950,caribou lane,NaN,Anytown,WA,00000,Household,Reference person,Male,White,2020,4
5,0_6176,0_2514,Sandra,S,Runnalls,66,03/18/1954,4458,windsor pl,NaN,Anytown,WA,00000,Household,Reference person,Female,Multiracial or Other,2020,5
6,0_13972,0_5627,Jerry,E,Murray,70,01/03/1950,17868,winding trail rd,NaN,Anytown,WA,00000,Household,Reference person,Male,White,2020,6
7,0_13973,0_5627,Anita,R,Murray,70,11/06/1949,17868,winding trail rd,NaN,Anytown,WA,00000,Household,Opposite-sex spouse,Female,White,2020,7
8,0_13974,0_5627,Jada,S,Murray,45,04/11/1974,17868,winding trail rd,NaN,Anytown,WA,00000,Household,Biological child,Female,White,2020,8
9,0_13975,0_5627,Toni,K,Murray,44,02/12/1976,17868,winding trail rd,NaN,Anytown,WA,00000,Household,Biological child,Female,White,2020,9
10,0_4,0_8,Eric,R,Alonso Tellez,38,05/29/1981,1501,interlake ave n,NaN,Anytown,WA,00000,Household,Reference person,Male,Latino,2020,10
11,0_5,0_8,NaN,R,Alonso Tellez,40,10/27/1979,1501,interlake ave n,NaN,Anytown,WA,00000,Household,Opposite-sex spouse,Female,Latino,2020,11
12,0_6,0_8,Elan,N,Alonso Tellez,6,07/30/2013,1501,interlake ave n,NaN,Anytown,WA,00000,Household,Biological child,Male,Latino,2020,12
13,0_5621,0_2289,Derick,W,Castillo,49,07/27/1970,3,stoke ct,NaN,Anytown,WA,00000,Household,Reference person,Male,Latino,2020,13
14,0_5622,0_2289,Kaylee,A,Castillo,16,06/10/2003,3,stoke ct,NaN,Anytown,WA,00000,Household,Biological child,Female,Latino,2020,14
15,0_5623,0_2289,Heather,J,Castillo,46,07/24/1973,3,stoke ct,NaN,Anytown,WA,00000,Household,Opposite-sex unmarried partner,Female,Latino,2020,15
16,0_7251,0_2957,Patrick,E,Rodriguez,53,03/26/1966,927,broomfield ln,NaN,Anytown,WA,00000,Household,Reference person,Male,Latino,2020,16
17,0_7252,0_2957,Melisa,D,Rodriguez,41,05/26/1978,927,broomfield ln,NaN,Anytown,WA,00000,Household,Opposite-sex spouse,Female,Latino,2020,17
18,0_7254,0_2957,Caleb,G,Rodriguez,13,01/10/2007,927,broomfield ln,NaN,Anytown,WA,00000,Household,Biological child,Male,White,2020,18
19,0_7255,0_2957,Henry,C,Rodriguez,12,07/09/2007,927,broomfield ln,NaN,Anytown,WA,00000,Household,Biological child,Male,White,2020,19

In [4]:
df1.to_parquet(f"{file_stem_1}.parquet")
df2.to_parquet(f"{file_stem_2}.parquet")

In [5]:
known_clusters = pd.DataFrame(columns=["Input Record Dataset", "Input Record ID", "Cluster ID"])
known_clusters.to_parquet("known_clusters.parquet")

In [6]:
# copy files to shared filesystem
output_dir = Path(f"/mnt/team/simulation_science/priv/engineering/er_ecosystem/input_data/{os.getlogin()}")
if not output_dir.exists():
    # make the directory with rwxrwxr-x permissions
    output_dir.mkdir(parents=True, mode=0o775)

for stem in [file_stem_1, file_stem_2, "known_clusters"]:
    filename = f"{stem}.parquet"
    filepath = output_dir / filename
    if filepath.exists():
        print(f"Overwriting existing file: {filepath}")
    shutil.copy(filename, filepath)
    print(f"File copied to: {filepath}")

Overwriting existing file: /mnt/team/simulation_science/priv/engineering/er_ecosystem/input_data/zmbc/input_file_1.parquet
File copied to: /mnt/team/simulation_science/priv/engineering/er_ecosystem/input_data/zmbc/input_file_1.parquet
Overwriting existing file: /mnt/team/simulation_science/priv/engineering/er_ecosystem/input_data/zmbc/input_file_2.parquet
File copied to: /mnt/team/simulation_science/priv/engineering/er_ecosystem/input_data/zmbc/input_file_2.parquet
Overwriting existing file: /mnt/team/simulation_science/priv/engineering/er_ecosystem/input_data/zmbc/known_clusters.parquet
File copied to: /mnt/team/simulation_science/priv/engineering/er_ecosystem/input_data/zmbc/known_clusters.parquet